html,body{
    height: 100%;
    padding: 0;
    margin: 0
   }

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;     
    padding: 0;
}

.header {
    font-size: 36px;
    font-weight: bold;
    color: #332B2B;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc !important;
    border-radius: 16px;
    width: 50%;
    padding: 16px;
    gap: 36px;
}

ul{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 36px;
    list-style-type: none;
}


a {
    text-decoration: none;
    color: grey;
    font-size: 24px;
}